<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="zhb_nexmo_delivery_receipt" controller="zhb_nexmo.controller.delivery_receipt_controller:smsStatusChanged" path="/" methods="GET|POST">
    </route>
</routes>
